.app {
  text-align: center;
}

.app__content {
  min-height: calc(100vh - 70px);
}

.app__footer {
  height: 50px;
  background-color: skyblue;
}

.app__footer > h6 {
  padding: 8px;
}

.app__footer > h6 > a {
  text-decoration: none;
}
